<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cmps121.matt.housemates">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUp"
                  android:label="Sign Up"/>
        <activity android:name=".AddChore"
                  android:label="Add Chore"/>
        <activity android:name=".MyHouses"
                  android:label="My Houses"/>
        <activity android:name=".ChoreList"
                  android:label="All Chores"/>
        <activity android:name=".ChoreDetail"
                  android:label="Chore Detail"/>
        <activity android:name=".SignIn"
                  android:label="Sign In"/>
        <activity android:name=".CreateHouse"
                  android:label="Create New House"/>
        <activity android:name=".JoinHouse"
                  android:label="Join House"/>
    </application>

</manifest>